@inject IAdminService AdminService
<table class="table table-bordered m-3">
	<thead>
		<tr >
			<th>Name</th>
			<th>Genres</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var genre in Model)
		{
			<tr>
				<td>@genre.Name</td>
				<td>
				@foreach (var film in genre.Films)
					{
						<li>@film.Title</li>
					}
				</td>
				<td>
					<div class="d-flex me-1">
						<button class="btn btn btn-outline-danger rounded-2 m-1" @onclick="@(() => OnClick.InvokeAsync(new ClickModel(PageType.Delete, genre.Id)))">Delete</button>
						<button class="btn btn btn-outline-primary rounded-2 m-1" @onclick="@(() => OnClick.InvokeAsync(new ClickModel(PageType.Update, genre.Id)))">Update</button>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

@code {
	[Parameter] public List<GenreInfoDto> Model { get; set; } = new();
	[Parameter] public EventCallback<ClickModel> OnClick { get; set; }
	[Parameter] public string Page { get; set; } = string.Empty;

}
