<h3>Directors</h3>
<table class="table table-bordered m-2">
	<thead>
		<tr>
			<th>Name</th>
			<th>Directors</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>
					@foreach (var film in item.Films)
					{
						<li>@film.Title</li>
					}
				</td>
				<td>
					<div class="d-flex me-1">
						<button class="btn btn btn-outline-danger rounded-2 m-1" @onclick="@(() => OnClick.InvokeAsync(new ClickModel(PageType.Delete, item.Id)))">Delete</button>
						<button class="btn btn btn-outline-primary rounded-2 m-1" @onclick="@(() => OnClick.InvokeAsync(new ClickModel(PageType.Update, item.Id)))">Update</button>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

@code {
	[Parameter] public List<DirectorInfoDto> Model { get; set; } = new();
	[Parameter] public EventCallback<ClickModel> OnClick { get; set; }
	[Parameter] public string Page { get; set; } = string.Empty;
}
