@page "/"
@inject IMovieWatchService Service
<PageTitle>MovieWatch</PageTitle>

<h1>M O V I E  W A T C H</h1>
<div class="d-flex align-content-end flex-wrap">
	@foreach (var item in Films)
	{

		<div class="card me-4 mb-4 rounded-0" style="width: 18rem;">
			<img src="..." class="card-img-top rounded-0" alt="...">
			<div class="card-body">
				<h5 class="card-title">@item.Title</h5>
				<p class="card-text">@item.Description?.Truncate(50)</p>
				<a href="films/@item.Id" class="btn btn-primary">Watch movie</a>
			</div>
		</div>
	}

</div>
<ul>
	@foreach (var item in Genres)
	{
		<li>@item.Name</li>
	}
</ul>
<ul>
	@foreach (var item in Directors)
	{
		<li>@item.Name</li>
	}
</ul>
@code {
	public List<FilmDto> Films { get; set; } = new();
	public List<GenreDto> Genres { get; set; } = new();
	public List<DirectorDto> Directors { get; set; } = new();
	protected override async Task OnInitializedAsync()
	{
		Films = await Service.ReadFilmsAsync(false);
		Genres = await Service.ReadGenresAsync();
		Directors = await Service.ReadDirectorsAsync();
	}
}
