<nav id="nav">
	<li id="li-item-brand"><a id="li-item-a" aria-current="page" href="/">MOVIEWATCH</a></li>
	<li id="li-item">
		<a id="li-item-a" href="/filmsportal">Browse films</a>
	</li>
	<li id="li-item">
		<a id="li-item-a" href="/genreportal">Explore genres</a>
	</li>
	<li id="li-item">
		<a id="li-item-a" href="/homepage">Home</a>
	</li>
</nav>


@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
