

#nav {
    margin: 5px !important;
    padding: 5px !important;
    display:inline!important;
    background-color: rgb(255, 106, 0) !important;
    text-decoration:none!important;
    box-sizing:border-box!important;
    color:wheat!important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}
#li-item-brand{

}
#li-item {
    float: left !important;
    list-style-type: none !important;
    list-style-type: none !important;
    padding: 14px 16px;
    display: block;
    width: 30px;
    text-align:center!important;
}
#li-item-a {
    display: inline !important;
    color: brown !important;
    list-style-type: none !important;
}
