@page "/Genre/{Id:int}"
@inject IMovieWatchService Service
@inject NavigationManager navman

<div>



</div>

@code {
	[Parameter] public int Id { get; set; }
	public GenreInfoDto Model { get; set; } = new();
	public List<GenreInfoDto> GenreList { get; set; } = new();
	public List<FilmInfoDto> Films { get; set; } = new();
	public List<FilmGenreDto> FilmGenres { get; set; } = new();
	public string Navigation { get; set; } = string.Empty;
	void Refresh(int id)
	{
		navman.NavigateTo($"film/{id}", true);
	}
	void Refresh(string href) => Navigation = href;

	public async Task OnInitializedAsync()
	{
		Model = await Service.ReadGenreAsync(Id);
		GenreList = await Service.ReadGenresAsync();
	}
}
