@page "/Film"
@inject IMovieWatchService Service
@inject NavigationManager navman

heee
<div class="row g-0 bg-body-secondary position-relative">

	@foreach (var item in Films)
	{
		<div class="card me-4 mb-4 rounded-0" style="width: 18rem;">
			<img src="@item.ImgUrl" class="card-img-top rounded-0" alt="@item.ImgUrl">
			<div class="card-body">
				<h5 class="card-title">@item.Title</h5>
				<p class="card-text">@item.Description?.Truncate(50)</p>
				<a href="tofilm/@item.Id" class="btn btn-primary">Watch</a>
			</div>
		</div>
	}
</div>

@code {
	public List<FilmInfoDto> Films { get; set; } = new();
	public string Navigation { get; set; } = string.Empty;
	void Refresh(int id)
	{
		navman.NavigateTo($"film/{id}", true);
	}
	void Refresh(string href) => Navigation = href;
	protected override async Task OnInitializedAsync()
	{
		Films = await Service.ReadFilmsAsync(false);
	}

}
